

.nav1{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  align-items: center;
  min-height: 10vh;
  background: #27c2ff;
  font-family: 'Trebuchet MS', sans-serif;
  color: azure;
}
.inner{
  display: flex;
  position: static;
  width: 70%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  
}

.button1{
  margin-top: 40px;
  margin-left: 640px;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border: 2px solid #181c1d;
  background: #00c2db;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.button2{
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border: 2px solid #181c1d;
  background: #00c2db;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.innerInput{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    border: 2px solid #181c1d;
    background: #ffffff;
    border-radius: 5px;

}




